._anim-text {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.4s ease;

  &._animate {
    opacity: 1;
    transform: translateY(0) ;
  }
}

._anim-title {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.4s ease;

  &._animate {
    opacity: 1;
    transform: translateX(0);
  }
}
