.title {
  text-transform: uppercase;
  font-size: 30px;
}

.text {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;

  span {
    font-weight: 500;
  }
}

section {
  padding: 30px 20px;
}
